<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="wfLogin.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<!-- Configuración de autenticación con formulario raíz -->
		<authentication mode="Forms">
			<forms loginUrl="wfLogin.aspx" defaultUrl="wfLogin.aspx"/>
		</authentication>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
       type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider,&#xD;&#xA;                Microsoft.CodeDom.Providers.DotNetCompilerPlatform,&#xD;&#xA;                Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"


       warningLevel="4"
       compilerOptions="/langversion:default /nowarn:1659;1699;1701" />

			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
       type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider,&#xD;&#xA;                Microsoft.CodeDom.Providers.DotNetCompilerPlatform,&#xD;&#xA;                Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"


       warningLevel="4"
       compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="wsAperturaCajaLogicaSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsAperturaCajaLogicaSoap1" />
    <binding name="wsCajeroSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsCajeroSoap1" />
    <binding name="wsCartaSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsCartaSoap1" />
    <binding name="wsCierreCajaLogicaSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsCierreCajaLogicaSoap1" />
    <binding name="wsClienteSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsClienteSoap1" />
    <binding name="wsMesaSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsMesaSoap1" />
    <binding name="wsMeseroSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsMeseroSoap1" />
    <binding name="wsPedidoSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsPedidoSoap1" />
    <binding name="wsProductoSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsProductoSoap1" />
    <binding name="wsTipoProductoSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsTipoProductoSoap1" />
    <binding name="wsUsuarioSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsUsuarioSoap1" />
    <binding name="wsTipoUsuarioSoap">
     <security mode="Transport" />
    </binding>
    <binding name="wsTipoUsuarioSoap1" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsAperturaCajaLogica.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsAperturaCajaLogicaSoap"
    contract="srAperturaCajaLogica.wsAperturaCajaLogicaSoap" name="wsAperturaCajaLogicaSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsCajero.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsCajeroSoap"
    contract="srCajero.wsCajeroSoap" name="wsCajeroSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsCarta.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsCartaSoap"
    contract="srCarta.wsCartaSoap" name="wsCartaSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsCierreCajaLogica.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsCierreCajaLogicaSoap"
    contract="srCierreCajaLogica.wsCierreCajaLogicaSoap" name="wsCierreCajaLogicaSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsCliente.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsClienteSoap"
    contract="srCliente.wsClienteSoap" name="wsClienteSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsMesa.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsMesaSoap"
    contract="srMesa.wsMesaSoap" name="wsMesaSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsMesero.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsMeseroSoap"
    contract="srMesero.wsMeseroSoap" name="wsMeseroSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsPedido.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsPedidoSoap"
    contract="srPedido.wsPedidoSoap" name="wsPedidoSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsProducto.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsProductoSoap"
    contract="srProducto.wsProductoSoap" name="wsProductoSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsTipoProducto.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsTipoProductoSoap"
    contract="srTipoProducto.wsTipoProductoSoap" name="wsTipoProductoSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsUsuario.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsUsuarioSoap"
    contract="srUsuario.wsUsuarioSoap" name="wsUsuarioSoap" />
   <endpoint address="https://grupo-distribuidos-webservices.somee.com/wsTipoUsuario.asmx"
    binding="basicHttpBinding" bindingConfiguration="wsTipoUsuarioSoap"
    contract="srTipoUsuario.wsTipoUsuarioSoap" name="wsTipoUsuarioSoap" />
  </client>
 </system.serviceModel>
</configuration>
